body {
      background-color: #d6e0e2;
      margin: 0;
      padding: 0;
      font-family: 'coolvetica', sans-serif;
    }

    .header-container {
      position: relative; 
      height: 300px;
      background-image: url('images/friends.jpeg'); 
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
    }

    .header-container::before {
      content: ''; 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 0; 
    }

    .header-section {
      text-align: center; 
      color: white;
      z-index: 1; 
    }

    .header-section h1 {
      margin: 0; 
      font-size: 36px; 
      color: white; 
      letter-spacing: 3px;
    }

    .header-section p {
      margin: 10px 0 0; 
      font-size: 16px; 
      color: white; 
      letter-spacing: 2px;
    }

    .friends-container {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 50px 0;
        padding: 0 20px;
        flex-wrap: wrap; 
    }

    .friend {
        background-color: white;
        border: 2px solid #2f4156;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        width: 250px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px; 
    }

    .friend img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .friend h3 {
        margin-top: 10px;
        font-size: 24px;
        color: #2f4156;
        letter-spacing: 2px;
    }

    .friend p {
        font-size: 18px;
        color: #666;
        margin: 10px 0;
    }

    .fun-facts {
        font-size: 14px;
        color: #333;
    }

    .song-icon {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 40px;
      height: 40px;
      background-image: url('images/song.jpg'); 
      background-size: cover;
      cursor: pointer;
      z-index: 1;
    }

    footer {
      background-color: #d6e0e2;
      color: #2f4156;
      text-align: center;
      padding: 20px;
      letter-spacing: 3px;
    }
