body {
      margin: 0;
      padding: 0;
      background-color: #d6e0e2;
      font-family: 'coolvetica', sans-serif;
    }

   .header-container {
      position: relative; 
      height: 300px;
      background-image: url('images/gallery.jpeg'); 
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
     }

    .header-container::before {
      content: ''; 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 0; 
     }

   .header-section {
      text-align: center; 
      color: white;
      z-index: 1; 
     }

   .header-section h1 {
      margin: 0; 
      font-size: 36px; 
      color: white; 
      letter-spacing: 3px;
     }

   .header-section p {
      margin: 10px 0 0; 
      font-size: 16px; 
      color: white; 
      letter-spacing: 2px;
    }

   .song-icon {
      position: absolute;
      top: 10px; 
      left: 10px; 
      width: 40px;
      height: 40px;
      background-image: url('images/song.jpg'); 
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      z-index: 2; 
    }

    .occasion-section {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .occasion-section h2 {
      text-align: center;
      font-size: 28px;
      color: #2f4156;
      margin-bottom: 20px;
    }

    .occasion-section p {
      font-size: 16px;
      color: #686867;
      text-align: center;
      margin-bottom: 20px;
      letter-spacing: 1px;
    }

    .event-gallery {
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
      gap: 10px; 
      margin-top: 20px;
    }

    .event-gallery figure {
      width: 15%;  
      text-align: center;
    }

    .event-gallery img, .event-gallery video {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .event-item {
      width: 100%;
      padding: 20px;
      margin-bottom: 40px;
      background-color: #d6e0e2;
      border-radius: 10px;
    }

    .event-item h3 {
      font-size: 24px;
      color: #2f4156;
      text-align: center;
      letter-spacing: 1px;
    }

    .event-gallery figcaption {
      font-size: 14px;
      color: #686867;
      margin-top: 8px;
      letter-spacing: 1px;
    }

    footer {
      background-color: #d6e0e2;
      color: #2f4156;
      text-align: center;
      padding: 20px;
      letter-spacing: 3px;
    }
